<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons> 
    
    <ion-title>
      About Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<app-explore-container name="Name: Poojan Jitendrakumar Patel"></app-explore-container>-->
  <br/>
  <span><h3>Name: Poojan Jitendrakumar Patel </h3> </span>
  <br/>
  <span><h3>Student ID: 301228811</h3></span>
</ion-content>
