
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Main page </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="Danger">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pay Calculator</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content fullscreen>
    <ion-list lines="full" class="ion-no-margin">
      <br/>
      <br/>
      <ion-item>
        <ion-label>No of Hours worked: </ion-label>
        <ion-input
          [(ngModel)]="hours"
          type="number" placeholder="00"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Hourly Rate: </ion-label>
        <ion-input
          [(ngModel)]="hrRate"
          type="number" placeholder= "00"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="Calculate()">Calculate</ion-button>

    <ion-list lines="full" class="ion-no-margin">
      <br/>
      <br/>

      <ion-item>
        <ion-label>Regular Pay:</ion-label>
        <ion-label>{{ regular }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Overtime Pay:</ion-label>
        <ion-label>{{ overtime }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Total Pay:</ion-label>
        <ion-label>{{ total }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Tax:</ion-label>
        <ion-label>{{ tax }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Salary:</ion-label>
        <ion-label>{{ salary }}</ion-label>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-content>